<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Replace the organization placeholder with your own feed owner. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="organization" value="https://nuget.pkg.github.com/&lt;org&gt;/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Assimalign.Cohesion.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="organization">
      <package pattern="Acme.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
